@page "/Error"
@using System.Diagnostics
@using Microsoft.AspNetCore.Diagnostics

<PageTitle>Error</PageTitle>

<div class="container p-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title text-danger">Error</h1>
                    <h4 class="text-danger">An error occurred while processing your request.</h4>
                    @if (ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@RequestId</code><br />
                            @if (!string.IsNullOrEmpty(ExceptionMessage)){
                                @ExceptionMessage
                            }
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);
    private string? ExceptionMessage = "";

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        var exceptionFeature = HttpContext?.Features.Get<IExceptionHandlerFeature>();
        ExceptionMessage = exceptionFeature?.Error?.Message ?? "Unknown error";
    }
}
