@page "/"

@using System.Security.Claims
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>FlowSynx Plugin Registry | Home</PageTitle>

<section class="py-5 bg-light" id="welcome">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h2>Welcome to the FlowSynx Plugin Registry</h2>
                The FlowSynx Plugin Registry is the official hub for discovering, publishing, and managing plugins that enhance your FlowSynx automation workflows.

                Whether you're building custom logic, integrating external services, or adding data transformation steps — the registry provides a centralized and secure ecosystem to extend and scale your automation capabilities.
            </div>
        </div>
    </div>
</section>
<section class="py-2" id="whatisFlowsynxPluginregistry">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h2>What is the FlowSynx Plugin Registry?</h2>
                The FlowSynx Plugin Registry is a centralized platform for:
                <ul>
                    <li>Discovering reusable plugins created by FlowSynx and the community.</li>
                    <li>Publishing and maintaining your own plugins with rich metadata and versioning.</li>
                    <li>Deploying plugins seamlessly into your FlowSynx environments — from dev to production.</li>
                    <li>Plugins are self-contained components built using FlowSynx SDKs and packaged with metadata for version tracking, description, tags, and usage instructions. The registry ensures that each plugin is easy to find, install, and use — without disrupting your existing automation logic.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Plugin regsitry features</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5">
                        <div class="feature bg-light bg-gradient text-dark rounded-3 border mb-3"><i class="bi bi-search"></i></div>
                        <h2 class="h5">Discover & Integrate</h2>
                        <p class="mb-0">
                            The plugin registry enables users to efficiently discover the right tools by offering category-based search (e.g., transformation, connectors, logic), browsing by popularity, tags, or recent updates, and direct access to plugin documentation.
                        </p>
                    </div>
                    <div class="col mb-5">
                        <div class="feature bg-light bg-gradient text-dark rounded-3 border mb-3"><i class="bi bi-code-slash"></i></div>
                        <h2 class="h5">Develop & Publish</h2>
                        <p class="mb-0">
                            FlowSynx allows seamless integration of custom logic by enabling developers to build plugins in C# using the official SDK, publish them through the Web UI, and enrich submissions with documentation, icons, changelogs, and version metadata.
                        </p>
                    </div>
                    <div class="col mb-5 mb-md-0">
                        <div class="feature bg-light bg-gradient text-dark rounded-3 border mb-3"><i class="bi bi-clock-history"></i></div>
                        <h2 class="h5">Version Control </h2>
                        <p class="mb-0">
                            FlowSynx ensures stable, trackable updates by maintaining a complete version history for each plugin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>