@inject IJSRuntime JS

<button class="btn btn-sm btn-outline-secondary copy-button" @onclick="CopyText">
    <i class="bi bi-clipboard"></i>
</button>

@code {
    [Parameter] public string CodeToCopy { get; set; } = string.Empty;
    [Parameter] public int ResetDelayMs { get; set; } = 2000;

    private async Task CopyText()
    {
        await JS.InvokeVoidAsync("copyToClipboard", CodeToCopy);
        await Task.Delay(ResetDelayMs);
    }
}
